* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*#####################
HEADER SECTION STYLES
#####################*/

/* header at the top of the page */
.header {
  background-color: #FFFFFF;
  height: 50px;
  position: relative;
  width: 100%;
  z-index: 1500;
}

/* title at the top of the page - only visible on small screen sizes */
.title {
  background-color: inherit;
  color: #0D3D56;
  font-size: 1.35em;
  line-height: 50px;
  position: absolute;
  text-align: center;
  text-transform: capitalize;
  top: 0;
  width: inherit;
  z-index: 2500;
}

/* hamburger menu in the top right corner - only visible on small screen sizes */
.hamburger-menu {
  cursor: pointer;
  display: block;
  height: 50px;
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  z-index: 2500;
}

/* universal style for all the lines in the menu */
.hamburger-menu div {
  background-color: #0D3D56;
  display: block;
  height: 3px;
  margin: 0 25%;
  position: absolute;
  transition: all 0.4s;
  width: 29px;
}

/* positioning for each line */
.line1 {
  top: 13px;
}

.line2 {
  top: 23px;
}

.line3 {
  top: 33px;
}

/* style for the first line in the hamburger menu when active  */
.active .line1 {
  top: -13px;
}

/* style for the second line in the hamburger menu when active  */
.active .line2 {
  transform: rotate(45deg);
}

/* style for the third line in the hamburger menu when active  */
.active .line3 {
  transform: translateY(-10px) rotate(-45deg);
}

/* nav - slide in list on small screen sizes */
.nav {
  background-color: #0D3D56;
  height: 50px;
  position: absolute;
  top: 0px;
  transition: top 0.7s;
  width: 100%;
  z-index: 1000;
}

/* nav to move across to be visible when the hamburger menu is active */
.active .nav {
  top: 50px;
}

/* styling the list in the nav */
.nav ul {
  margin: 0 1em;
  text-align: left;
  list-style: none;
  position: relative;
}

/* styling the list items in the nav */
.nav ul li {
  color: #EEEEEE;
  cursor: pointer;
  font-size: 1em;
  margin: 1em 0;
  padding: 0 0.5em;
  text-transform: uppercase;
}

/*##################
PROJECTS SECTION
##################*/

.projects-section{
  color: #0D3D56;
  width: 100%;
  padding: 0;
  margin: 0;
  border-top: 2px solid #0D3D56;
  border-bottom: 2px solid #0D3D56;
}

.projects-heading{
  width: 100%;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  text-decoration: underline;
  text-align: center;
}
.p-group{
  text-align: center;
  margin: auto;

}

.projects{
  display: inline-block;
  margin: 10px;
  padding: 2px;
  border: 2px solid #0D3D56;
  width: 30%;
  height: 300px;
  word-wrap: break-word;
  border-radius: 10px;
  overflow: auto;
}

.project-images{
  width: 90%;
  display: block;
  margin: auto;
}

h3{
  text-align: center;
}



/*#####################
STYLES FOR DESKTOP SCREEN SIZES (WIDTH: 1024px)
#####################*/
@media only screen and (min-width: 1024px) {
  /* hamburger disappears - becomes redundant */
  .hamburger-menu {
    display: none;
  }

  /* nav no longer slides in and remains at the top permanently */
  .nav {
    background-color: transparent;
    position: static;
  }

  /* restyling the list in the nav to be positioned in a row */
  .nav ul {
    background-color: inherit;
    justify-content: center;
    float: right;
    margin: 0;
    margin-right: 1em;
    text-align: center;
    width: auto;
    z-index: 3000;
  }

  /* styling the list items */
  .nav ul li {
    color: #0D3D56;
    font-size: 1em;
    line-height: 50px;
    margin: 0 0.125em;
  }
}

/*#####################
STYLES FOR COMING SOON PAGE
#####################*/

.card-deck {
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 150px;
}
